.project-section {
  width: 100%;
  /* height: 500px; */
  background-image: url("./dot-2.png");
  background-repeat: repeat-y;
  background-size: 350px;
  background-position: 100px -50px;
}

.project-section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.project-section__title h1 {
  font-size: 1.4rem;
  color: var(--default-light);
}
.project-section__title span {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50px;
  background: linear-gradient(141.51deg, #9b27b0b3 -18.34%, #661fffb3 66.03%);
  margin-top: 10px;
}
.category-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.category-list .category-item {
  border: 1px solid var(--default-light);
  padding: 5px 15px;
  border-radius: 15px;
  background-color: var(--paper-dark);
  color: var(--default-light);
  font-size: 0.8rem;
  cursor: pointer;
}
.category-list .category-item.active {
  background: linear-gradient(141.51deg, #9b27b0b3 -18.34%, #661fffb3 66.03%);
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 125px 200px;
  gap: 15px 45px;
  grid-template-areas:
    "project-preview-1 project-preview-2 project-preview-3"
    "project-preview-1 project-preview-5 project-preview-3"
    "project-preview-4 project-preview-5 project-preview-6";
  margin-top: 30px;
  padding: 10px 80px;
  }

.project-preview-1 {
  grid-area: project-preview-1;
}

.project-preview-2 {
  grid-area: project-preview-2;
}

.project-preview-3 {
  grid-area: project-preview-3;
}

.project-preview-4 {
  grid-area: project-preview-4;
}

.project-preview-5 {
  grid-area: project-preview-5;
}

.project-preview-6 {
  grid-area: project-preview-6;
}

.project-preview{
  width: 100%;
  height: 100%;
  border: 10px solid #404040;
  border-radius: 10px;
}

.project-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}