@import url("./variables.css");
@import url("./font.css");
@import url("./reset.css");

body {
  margin: 0;
  padding: 0;
  font-family: var(--en-font), var(--fa-font) !important;
  background-color: var(--default-dark);
}

* {
  box-sizing: border-box;
}
