@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Thin";
  src: url(../fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: "Vazir";
  src: url(../fonts/Vazir/Vazir.ttf);
}
